  @import "../styles/Media.scss";
  
  .dropdown-btn {
    @include respond(tab-port) {
      display: block;
      cursor: pointer;
      margin: 2rem 0;
      padding: 1rem 2rem;
      font-size: inherit;
    }
  }