@import "./media.scss";

.form__input {
    line-height: 1.9;
}

input,
label {
    cursor: pointer;
    
}

legend {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #295d80;

    @include respond(tab-port) {
        display: none;
    }

}

fieldset {
    border: none;
    margin-bottom: 1rem;
}
