@import "./styles/media.scss";

header {
  border-bottom: 1px solid rgb(212, 208, 208);
}

.title {
  text-align: center;
  &__primary {
    color: #0d846e;
  }
}

.main_page {
  padding: 2rem 2rem;
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
    padding: 0;
  }
}

.sidebar {
  max-width: 25rem;
  flex-shrink: 0;
  transition: 0.5s all;

  @include respond(tab-port) {
    width: 100%;
  }

  &:hover .form {
    display: block;
  }

  &:hover .page__btn {
    display: inline-block;
  }

  @include respond(tab-port) {
    & .form,
    & .page__btn {
      display: none;
    }
  }
}

.arrow__down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 1.5rem;
  vertical-align: top;
}

.empty_flex {
  width: 5vw;
}

.next__btn {
  float: right;
}
